body {
    color: white;
    background-color:rgb(26, 43, 228);
}



a:link {
    color: white;
    text-decoration: none;
}

a:visited {
    color: white;
    text-decoration: none;
}

.guess_div
{
    display: -webkit-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    justify-content: center;
}

.warning
{
    color: red;
}

.user-id-insecure-note
{
    color: red
}

.guess-input
{
    width: max-content;
}

.guess-input-percent {
    font-size:large;
    color: pink;
}

.progress_bar_answer
{
    afont-size: xx-large;
}



.width-100pc {
    width: 100%
}

.center {
    margin: auto;
    _border: 3px solid green;
    _padding: 10px;
}

.progress-bar {
    display: -webkit-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    width: 80%;

}
.progress-bar-notfilled {
    background-color: white;
    opacity: 0.4;
    float:left;
    border-radius: 0px 4px 4px 0px; 
    -moz-border-radius: 0px 4px 4px 0px;
}

.progress-bar-filled {
    float: left;
    background-color: azure;
    width: 50%;
    opacity: 0.95;
    border-radius: 4px 0px 0px 4px; 
    -moz-border-radius: 4px 0px 0px 4px;
}

.justify-center {
    justify-content: center
}

.display-flex {
    display: -webkit-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.text-align-center {
    text-align: center;
}

.mono-font {
    font-family: monospace;
}

.align-itmes-center {
    align-items: center;
}


.overflow-hidden {
    overflow: hidden
}


.opacity-90 {
    opacity: .9
}

.opacity-20 {
    opacity: .2
}


.max-width-100 {
    max-width: 100%
}

.whitespace-nowrap {
    white-space: nowrap
}

    /* .guess_button {
        color: white;   
        border: solid 1px white;
        background-color:rgb(26, 43, 228);
        border-radius: 4px;
    } */

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    
    color: white;
    background-color:rgb(26, 43, 228);
    font-family: monospace;
 }